# Project exclude paths
/venv/
*/migrations
/media/
/logs/

# If you are using PyCharm #
.idea/**/tasks.xml
.idea/misc.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
*.iws /out/
xadmin_debug.txt
make.bat
migrate.bat
run.bat