{% load crispy_forms_tags %}
{% load custom_tags %}
{% load static %}
{% get_media_prefix as MEDIA_URL %}
{% if request.GET.seleccionar == 'True' %}
    {% include "cabeza.html" %}
    <div id="content" class="{% block coltype %}colM{% endblock %}">
{% endif %}

    <h1>Artículos</h1>

    {% if filtros_form %}
        {% crispy filtros_form %}
        <br>
    {% endif %}

    <div class="form-row form-row">
        <div class="col form-group">
            <table>
                <tr class="model-group">
                    <th><a href="{% url 'articulo_agregar' %}?modo={{ request.GET.modo }}"
                           class="addlink">{% traducir 'Agregar' 'Articulo' %} </a>
                    </th>
                    <th><a href="{% url 'articulos_importar' %}"
                           class="addlink">{% traducir 'Importar CSV' 'CLIENTE' %}</a>
                    </th>
                </tr>
            </table>
        </div>
        {% if request.GET.modo == 's' or request.GET.modo == 'm' %}
        <div class="col form-group" align="right">
            <div class="form-group">
                {% include 'boton_seleccionar.html' %}
            </div>
        </div>
        {% endif %}
    </div>


    <div align="right">
        {% if request.GET.seleccionar == 'True' %}
        <a href="#" class="btn btn-default" onclick="armar_seleccionados('{{ request.GET.multiple }}')">Seleccionar</a>
        {% endif %}
    </div>

    <div style="overflow-x:auto;">
        <br>
        <table id="tab">
            <thead>
            <tr>
                {% if request.GET.seleccionar == 'True' %}
                    {% if request.GET.multiple == 'True' %}
                        <th><input type="checkbox" onchange="marcar_todo(this)" name="chk[]"/></th>
                    {% else %}
                        <th></th>
                    {% endif %}
                {% endif %}
                <th>Código</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Moneda</th>
                <th>Departamento</th>
                <th>Ubicación</th>
                <th>Unidad</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in paginado %}
            {% if forloop.counter|divisibleby:2 %}
            <tr class="row1">
                {% else %}
            <tr class="row2">
                {% endif %}
                {% if request.GET.seleccionar == 'True' %}
                    {% if request.GET.multiple == 'True' %}
                        <td><input type="checkbox" id="{{ item.id }}"/></td>
                    {% else %}
                        <td><input type="radio" id="{{ item.id }}" name="items"></td>
                    {% endif %}
                {% endif %}
                <td>{{ item.artcod }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.precio }}</td>
                <td>{{ item.moneda|moneda_descripcion }}</td>
                <td>{{ item.departamento }}</td>
                <td>{{ item.ubicacion }}</td>
                <td>{{ item.artuniven|unidad_descripcion }}</td>
                {% if item.artimg.name|tiene_vista_previa %}
                    <td><a target="_blank"
                           href="{{ MEDIA_URL }}{{ item.artimg }}">
                           <img class="preview" src="/media/{{ item.artimg }}" style="width:1500px">
                        </a>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                <td><a href="{% url 'articulo_editar' item.id %}" class="changelink">Editar</a></td>
                <td><a href="{% url 'articulo_eliminar' item.id %}" class="deletelink">Eliminar</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        {% include "paginador.html" %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% if request.GET.multiple == 'True' %}
        <script src="{% static " js/marcar_todo.js" %} " ></script>{% endif %}
    {% if request.GET.seleccionar == 'True' %}
        <script src="{% static "js/armar_seleccionados.js" %} " ></script>
    {% endif %}
    {% if request.GET.seleccionar == 'True' %}
</div>
{% endif %}



 