{% load crispy_forms_tags %}
{% load custom_tags %}
{% load static %}
{% get_media_prefix as MEDIA_URL %}
    {% if request.GET.modo == 's' or request.GET.modo == 'm' %}
        {% include "cabeza.html" %}
        <div id="content" class="{% block coltype %}colM{% endblock %}">
    {% endif %}
    <h1>{% traducir 'Detalles del Comprobante' 'CUENTAS' %}</h1>
        <script type="text/javascript">
        function hide_show_table(col_name)
        {
            var checkbox_val=document.getElementById(col_name).value;
            if(checkbox_val=="hide")
            {
                var all_col=document.getElementsByClassName(col_name);
                for(var i=0;i<all_col.length;i++)
                {
                    all_col[i].style.display="none";
                }
                document.getElementById(col_name+"_head").style.display="none";
                document.getElementById(col_name).value="show";
            }

            else
            {
                var all_col=document.getElementsByClassName(col_name);
                for(var i=0;i<all_col.length;i++)
                {
                    all_col[i].style.display="table-cell";
                }
                document.getElementById(col_name+"_head").style.display="table-cell";
                document.getElementById(col_name).value="hide";
            }
        }
        </script>
        <b>Cliente:</b> {{comprobante.cliente.nombre}} <br>
        <b>Fecha Emision:</b> {{ comprobante.fecha_emision|date:"d/m/Y" }} <br>
        <b>Fecha Vencimiento:</b> {{ comprobante.fecha_vencimiento|date:"d/m/Y" }}<br>
        <b>Total (Con IVA):</b> {{ comprobante.total|decimales }}<br>
        <b>Concepto:</b> {{ comprobante.concepto }}<br>
        <div id="checkbox_div">
            <b>Ocultar Imágenes</b> <input type="checkbox" value="hide" id="img_col" onchange="hide_show_table(this.id);">
        </div><br>
        {% if comprobante.pdf %}
            <td><a href="{{ MEDIA_URL }}{{ comprobante.pdf }}" class="printlink" target="_blank">Ver Factura en PDF</a></td>
        {% else %}
            <td><a href="{% url 'imprimir_png' comprobante.id comprobante.cliente.encriptado%} " target="_blank" class="printlink">{% traducir 'Ver Factura en PDF' 'CUENTAS' %}</a></td>
        {% endif %}

    <div class="form-row form-row">
        {% if request.GET.modo == 's' or request.GET.modo == 'm' %}
        <div class="col form-group" align="right">
            <div class="form-group">
                {% include 'boton_seleccionar.html' %}
            </div>
        </div>
        {% endif %}
    </div>



    <div style="overflow-x:auto;">
        <br>
        <table id="tab">
            <thead>
            <tr>
                <th id="desc_col_head">{% traducir 'Descripción' 'CUENTAS' %}</th>
                <th id="cant_col_head">{% traducir 'Cantidad' 'CUENTAS' %}</th>
                <th id="precio_col_head">{% traducir 'Precio (Sin IVA)' 'CUENTAS' %}</th>
                <th id="iva_col_head">{% traducir 'IVA' 'CUENTAS' %}</th>
                <th id="precio_coniva_col_head">{% traducir 'Precio Total' 'CUENTAS' %}</th>
                <th id="img_col_head">{% traducir 'Imagen' 'CUENTAS' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in paginado %}
            <tr class="row{% if forloop.counter|divisibleby:2 %}1{% else %}2{% endif %}">
                <td class="desc_col">
                {% if item.descripcion == None %}
                    {% if item.articulo.descripcion == None %}
                        {{item.articulo.artcod}}
                    {% else %}
                        {{item.articulo.artcod}}, {{item.articulo.descripcion}}
                    {% endif %}
                {% else %}
                    {{item.articulo.artcod}}, {{item.descripcion}}
                {% endif %}</td>

                <td class="cant_col">{{item.cantidad}}</td>

                <td class="precio_col">{% if item.precio == None %}
                    {{item.articulo.precio}}
                {% else %}
                    {{item.precio}}
                {% endif %}</td>

                <td class="iva_col">{{item.articulo.iva}}</td>

                <td class="precio_coniva_col">
                {% if item.articulo.iva == 21 %}
                    {{item|iva21}}
                {% else %}
                    {% if item.articulo.iva == 27 %}
                        {{item|iva27}}
                    {% else %}
                        {% if item.articulo.iva == 10.5 %}
                            {{item|iva105}}
                        {% else %}
                            {{item.articulo.precio}}
                {% endif %}{% endif %}{% endif %}</td>

                <td class="img_col">
                {% if item.articulo.artimg.name|tiene_vista_previa %}
                    <a target="_blank"
                        href="{{ MEDIA_URL }}{{ item.articulo.artimg }}">
                        <img class="preview" src="/media/{{ item.articulo.artimg }}" style="width:200px">
                    </a>
                {% endif %}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
    {% if not expediente %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% endif %}
    {% if request.GET.modo == 's' or request.GET.modo == 'm' %}
    {% if request.GET.modo == 'm' %}
    <script src="{% static " js/marcar_todo.js" %} " ></script>
    {% endif %}

    <script src="{% static " js/armar_seleccionados.js" %} " ></script>
</div>
{% endif %}