{% load crispy_forms_tags %}
{% load custom_tags %}
{% load static %}
{% get_media_prefix as MEDIA_URL %}
    {% if request.GET.modo == 's' or request.GET.modo == 'm' %}
        {% include "cabeza.html" %}
        <div id="content" class="{% block coltype %}colM{% endblock %}">
    {% endif %}
    {% if cuenta_corriente %}
        <h1>{% traducir 'Cuenta Corriente' 'CUENTAS' %}</h1>
    {% else %}
        {% if facturas_pendientes %}
            <h1>{% traducir 'Facturas Pendientes' 'CUENTAS' %}</h1>
        {% else %}
            <h1>{% traducir 'Comprobantes' 'CUENTAS' %}</h1>
        {% endif %}
    {% endif %}
    {% if filtros_form %}
            {% if not cuenta_corriente %}
            {% crispy filtros_form %}
            {% endif %}
    {% endif %}

    <div class="form-row form-row">
        {% if subir_cuentas %}
            <div class="col form-group">
                <table>
                    <tr class="model-group">
                        <th><a href="{% url 'cuentas_agregar' %}?modo={{ request.GET.modo }}"
                               class="addlink">{% traducir 'Agregar' 'CUENTAS' %}</a>
                        </th>
                        <th><a href="{% url 'cuentas_importar' %}?modo={{ request.GET.modo }}"
                               class="addlink">{% traducir 'Importar CSV' 'CUENTAS' %}</a>
                        </th>
                        <th><a href="{% url 'facturas_exportar' %}?modo={{ request.GET.modo }}"
                               class="addlink">{% traducir 'exportar CSV' 'CUENTAS' %}</a>
                        </th>
                    </tr>
                </table>
            </div>
        {% endif %}
        {% if cuenta_corriente %}
            <div class="col form-group">
                <table>
                    <tr class="model-group">
                        <th>Saldo Actual: {{ saldo_actual|decimales }}</th>
                    <tr class="model-group">
                        <th>Saldo Inicial: {{ saldo_inicial|decimales }} a fecha de {{fecha_saldo}}</th>
                </table>
            </div>
        {% endif %}
        {% if request.GET.modo == 's' or request.GET.modo == 'm' %}
        <div class="col form-group" align="right">
            <div class="form-group">
                {% include 'boton_seleccionar.html' %}
            </div>
        </div>
        {% endif %}
    </div>



    <div style="overflow-x:auto;">
        <br>
        <table id="tab">
            <thead>
                <tr>
                    {% if request.GET.modo == 'm' %}
                        <th><input type="checkbox" onchange="marcar_todo(this)" name="chk[]"/></th>
                    {% else %}
                        <th></th>
                    {% endif %}
                    {% if not cuenta_corriente %}
                        <th>{% traducir 'Comprobante' 'CUENTAS' %}</th>
                        <th>{% traducir 'Emisión' 'CUENTAS' %}</th>
                        <th>{% traducir 'Vencimiento' 'CUENTAS' %}</th>
                        <th>{% traducir 'Atraso' 'CUENTAS' %}</th>
                        <th>{% traducir 'Total' 'CUENTAS' %}</th>
                        <th>{% traducir 'Concepto' 'CUENTAS' %}</th>
                        <th>{% traducir 'PDF' 'CUENTAS' %}</th>
                    {% else %}
                        <th>{% traducir 'Comprobante' 'CUENTAS' %}</th>
                        <th>{% traducir 'Concepto' 'CUENTAS' %}</th>
                        <th>{% traducir 'Emisión' 'CUENTAS' %}</th>
                        <th>{% traducir 'Vencimiento' 'CUENTAS' %}</th>
                        <th>{% traducir 'Total Débito' 'CUENTAS' %}</th>
                        <th>{% traducir 'Total Crédito' 'CUENTAS' %}</th>
                    {% endif %}
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for item in paginado %}
            <tr class="row{% if forloop.counter|divisibleby:2 %}1{% else %}2{% endif %}">
                {% if request.GET.modo == 'm' %}
                    <td><input type="checkbox" id="{{ item.id }}"/></td>
                {% else %}
                    {% if request.GET.modo == 's' %}
                        <td><input type="radio" id="{{ item.id }}" name="items"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endif %}

                {% if not cuenta_corriente %}
                    <td> {{ item.comprobante }}</td>
                    <td> {{ item.fecha_emision|date:"d/m/Y" }}</td>
                    <td> {{ item.fecha_vencimiento|date:"d/m/Y" }}</td>
                    {% if item.fecha_vencimiento|atraso > 0 %}
                        <td bgcolor="pink">{{ item.fecha_vencimiento|atraso }}</td>
                        {% else %}
                        <td bgcolor="lightgreen">{{ item.fecha_vencimiento|atraso }}</td>
                        {% endif %}
                    </td>
                    <td> {{ item.total|decimales }}</td>
                    <td> {{ item.concepto }}</td>
                    {% if item.cliente.encriptado %}
                        {% if item.pdf %}
                            <td><a href="{{ MEDIA_URL }}{{ item.pdf }}" class="printlink" target="_blank">Descargar pdf</a></td>
                        {% else %}
                            <td><a href="{% url 'imprimir_png' item.id item.cliente.encriptado%} " target="_blank" class="printlink">{% traducir 'Descargar pdf' 'CUENTAS' %}</a></td>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <td> {{ item.comprobante }}</td>
                    <td> {{ item.concepto }}</td>
                    <td> {{ item.fecha_emision|date:"d/m/Y" }}</td>
                    <td> {{ item.fecha_vencimiento|date:"d/m/Y" }}</td>
                    <td>
                        {% if not item.cptedh == 'D' %}
                            <td> {{ item.total|decimales }} </td>
                        {% else %}
                            {{ item.total|decimales }}
                            <td></td>
                        {% endif %}
                    </td>
                {% endif %}
                <td></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        {% include "paginador.html" %}
    </div>
    {% if not expediente %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% endif %}
    {% if request.GET.modo == 's' or request.GET.modo == 'm' %}
    {% if request.GET.modo == 'm' %}
    <script src="{% static " js/marcar_todo.js" %} " ></script>
    {% endif %}
    <script src="{% static " js/armar_seleccionados.js" %} " ></script>
</div>
{% endif %}