{% load crispy_forms_tags %}
{% load custom_tags %}
{% load static %}
{% get_media_prefix as MEDIA_URL %}
    {% if request.GET.modo == 's' or request.GET.modo == 'm' %}
        {% include "cabeza.html" %}
        <div id="content" class="{% block coltype %}colM{% endblock %}">
    {% endif %}
    {% if cuenta_corriente %}
        <h1>{% traducir 'Cuenta Corriente' 'CUENTAS' %}</h1>
    {% else %}
        <h1>{% traducir 'Detalles del Comprobante' 'CUENTAS' %}</h1>
            <b>Fecha Emision:</b> {{ comprobante.fecha_emision|date:"d/m/Y" }} <br>
            <b>Fecha Vencimiento:</b> {{ comprobante.fecha_vencimiento|date:"d/m/Y" }}<br>
            <b>Total (Con IVA):</b> {{ comprobante.total|decimales }}<br>
            <b>Concepto:</b> {{ comprobante.concepto }}<br><br>
            {% if comprobante.pdf %}
                <td><a href="{{ MEDIA_URL }}{{ comprobante.pdf }}" class="printlink" target="_blank">Ver Factura en PDF</a></td>
            {% else %}
                <td><a href="{% url 'imprimir_png' comprobante.id comprobante.cliente.encriptado%} " target="_blank" class="printlink">{% traducir 'Ver Factura en PDF' 'CUENTAS' %}</a></td>
            {% endif %}
    {% endif %}

    <div class="form-row form-row">
        {% if subir_cuentas %}
            <div class="col form-group">
                <table>
                    <tr class="model-group">
                        <th><a href="{% url 'cuentas_agregar' %}?modo={{ request.GET.modo }}"
                               class="addlink">{% traducir 'Agregar' 'CUENTAS' %}</a>
                        </th>
                        <th><a href="{% url 'cuentas_importar' %}?modo={{ request.GET.modo }}"
                               class="addlink">{% traducir 'Importar CSV' 'CUENTAS' %}</a>
                        </th>
                        <th><a href="{% url 'facturas_exportar' %}?modo={{ request.GET.modo }}"
                               class="addlink">{% traducir 'exportar CSV' 'CUENTAS' %}</a>
                        </th>
                    </tr>
                </table>
            </div>
        {% endif %}
        {% if request.GET.modo == 's' or request.GET.modo == 'm' %}
        <div class="col form-group" align="right">
            <div class="form-group">
                {% include 'boton_seleccionar.html' %}
            </div>
        </div>
        {% endif %}
    </div>



    <div style="overflow-x:auto;">
        <br>
        <table id="tab">
            <thead>
            <th>{% traducir 'ID Articulo' 'CUENTAS' %}</th>
            <th>{% traducir 'Nombre Articulo' 'CUENTAS' %}</th>
            <th>{% traducir 'Precio (Sin IVA)' 'CUENTAS' %}</th>
            <th>{% traducir 'IVA' 'CUENTAS' %}</th>
            <th>{% traducir 'Precio Total' 'CUENTAS' %}</th>
            </thead>
            <tbody>
            {% for item in paginado %}
             <tr class="row{% if forloop.counter|divisibleby:2 %}1{% else %}2{% endif %}">
                <td>{{item.articulo.id}}</td>
                <td>{{item.articulo.artcod}}</td>
                <td>{{item.articulo.precio}}</td>
                <td>{{item.articulo.iva}}</td>
                {% if item.articulo.iva == 21 %}
                    <td>{{item.articulo.precio|iva21}}</td>
                {% else %}
                    {% if item.articulo.iva == 27 %}
                        <td>{{item.articulo.precio|iva27}}</td>
                     {% else %}
                        {% if item.articulo.iva == 10.5 %}
                            <td>{{item.articulo.precio|iva105}}</td>
                        {% else %}
                            <td>{{item.articulo.precio}}</td>
                 {% endif %}{% endif %}{% endif %}
             </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
    {% if not expediente %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% endif %}
    {% if request.GET.modo == 's' or request.GET.modo == 'm' %}
    {% if request.GET.modo == 'm' %}
    <script src="{% static " js/marcar_todo.js" %} " ></script>
    {% endif %}
    <script src="{% static " js/armar_seleccionados.js" %} " ></script>
</div>
{% endif %}