{% load crispy_forms_tags %}
{% load custom_tags %}
{% load static %}
{% if request.GET.modo == 's' or request.GET.modo == 'm' %}
    {% include "cabeza.html" %}
    <div id="content" class="{% block coltype %}colM{% endblock %}">
{% endif %}


{% if filtros_form%}
    <h1>{% traducir 'Tablas' 'TABLA' %}</h1>
    {% crispy filtros_form %}
{% endif %}

<div class="form-row form-row">
    <div class="col form-group">
        <table>
            <tr class="model-group">
                {% if entidad %}
                    <th><a href="{% url 'tabla_agregar' entidad %}?next={{ request.path }}?{{ url_filtros }}" class="addlink">{% traducir 'Tabla' 'TABLA' %}</a></th>
                {% else %}
                    <th><a href="{% url 'tabla_agregar' 0 %}" class="addlink">{% traducir 'Tabla' 'TABLA' %}</a></th>
                {% endif %}
                <th><a href="{% url 'tablas_cargar_csv' %}" class="addlink"> Cargar tablas desde csv</a></th>
                </th>
            </tr>
        </table>
    </div>
    {% if request.GET.modo == 's' or request.GET.modo == 'm' %}
    <div class="col form-group" align="right">
        <div class="form-group">
        {% include 'boton_seleccionar.html' %}
        </div>
    </div>
    {% endif %}
</div>

  <div style="overflow-x:auto;">
    <br>
    <table id="tab">
        {% with tit='Click para ordenar por esta columna' %}
        <thead>
            <tr>
                {% if request.GET.modo == 'm' %}
                    <th><input type="checkbox" onchange="marcar_todo(this)" name="chk[]" /></th>
                {% else %}
                    <th></th>
                {% endif %}
                <th title="{{tit}}">{% traducir 'Entidad' 'TABLA' %}</th>
                <th title="{{tit}}">{% traducir 'ID' 'TABLA' %}</th>
                <th title="{{tit}}">{% traducir 'Codigo' 'TABLA' %}</th>
                <th title="{{tit}}">{% traducir 'Descripción' 'TABLA' %}</th>
                <th title="{{tit}}">{% traducir 'Entidad superior' 'TABLA' %}</th>
                <th title="{{tit}}">{% traducir 'Entidad superior código' 'TABLA' %}</th>
                <th title="{{tit}}">{% traducir 'Valor preferencial' 'TABLA' %}</th>
                <th title="{{tit}}">{% traducir 'Activo' 'TABLA' %}</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        {% endwith %}
        <tbody>
        {% for tabla in paginado %}
            <tr class="row{% if forloop.counter|divisibleby:2 %}1{% else %}2{% endif %}">
            {% if request.GET.modo == 'm' or request.GET.modo == 's' %}
                <td><input type="{% if request.GET.modo == 'm' %}checkbox{% else %}radio{% endif %}"
                           id="{{ tabla.id }}"
                           name="items"/>
                </td>
            {% else %}
                <td></td>
            {% endif %}
                <td> {{ tabla.entidad }} </td>
                <td> {{ tabla.id }} </td>
                <td> {{ tabla.codigo }} </td>
                <td> {{ tabla.descripcion }} </td>
                <td> {{ tabla.superior_entidad }} </td>
                <td> {{ tabla.superior_codigo }} </td>
                {% autoescape off %}
                <td> {{ tabla.valor_preferencial|imagen_si_no }}</td>
                <td> {{ tabla.activo|imagen_si_no }} </td>
                {% endautoescape %}
                <td></td>
                <td><a href="{% url 'tabla_editar' tabla.id %}?next={{ request.path }}?{{ url_filtros }} "
                       title="{% traducir 'Editar' 'TABLA' %}"
                       class="changelink" ></a></td>
                <td><a href="#"
                       class="deletelink"
                       title="{% traducir 'Eliminar' 'TABLA' %}"
                       onclick="return confirmarAccion('{% url 'tabla_eliminar' tabla.id %}?next={{ request.path }}?{{ url_filtros }}', '¿Eliminar el item seleccionado?')">
                    </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    {% include "paginador.html" %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% if request.GET.modo == 's' or request.GET.modo == 'm' %}
    {% if request.GET.modo == 'm' %}
        <script src="{% static "js/marcar_todo.js" %} " ></script>
    {% endif %}
    <script src="{% static "js/armar_seleccionados.js" %} " ></script>
    </div>
{% endif %}