{% extends "header.html" %}

{% block title %}
    {{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
{% load static %}
    <p class="MsoNormal"
       style="line-height: normal; text-align: left;"
       align="right">
       <img class="pulse" src='{% static "img/logo.png" %} ' />
       <a href="#"
            id="modo_obscuro"
            title="Estilo {% if modo_obscuro %}claro{% else %}obscuro{% endif %}"
            data="{% if modo_obscuro %}true{% else %}false{% endif %}"
            onclick="estilo_menu({{ request.user.id }}, '{% url 'preferencia_grabar_asinc'%}')">
            <i id="icono_modo_obscuro" class="fa fa-toggle-{% if modo_obscuro %}on{% else %}off{% endif %}"></i>
        </a>
    </p>
{% endblock %}

{% block nav-global %}
{% endblock %}

