{% load static %}
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <link rel="stylesheet"
          type="text/css"
          id="css_base"
          href="{% if modo_obscuro %}{% static 'css/base_dark.css'%}{% else %}{% static 'css/base.css'%}{% endif %}{{css_version}}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}{{ css_version }}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}{{ css_version }}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animations.css' %}{{ css_version }}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/altocheck.css' %}{{ css_version }}">
    <link rel="shortcut icon" href=" {% static 'favicon.ico' %}" type="image/vnd.microsoft.icon" />

    <!--DataTables-->
    <!--<script src = "http://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" defer ></script>-->
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">-->

    <!-- Barra de menu -->
    <link rel="stylesheet" type="text/css" id="css_sidebar"
      {% if modo_obscuro %}
      href="{% static "css/sidebar_dark.css" %}{{css_version}}">
      {% else %}
      href="{% static "css/sidebar.css" %}{{css_version}}">
      {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Datepicker -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

    <!--Selectpicker Live Search-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    {% block extrastyle %}{% endblock %}

    {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "css/rtl.css" %} {% endblock %}">
    {% endif %}
    {% block extrahead %}{% endblock %}
    {% block responsive %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/responsive_rtl.css' %}{{ css_version }}">
        {% endif %}
    {% endblock %}
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE">
    {% endblock %}
</head>